.center{
    text-align: center;
}
.flag{
    height: 300px;
    width: 300px;
    margin-top: 150px;
    margin-left: 500px;
    border: black solid 2px;
}
.blue{
    height: 300px;
    width: 100px;
    background-color: rgb(1, 1, 139);
    position: absolute;
}
.white{
    height: 300px;
    width: 100px;
    background-color:white;
    margin-left: 100px;
    position:absolute;

}
.red{
    height: 300px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    margin-left: 200px;
    display: inline-block;
}